.grid_4.suffix_8
  = f.label :line_1, 'Address'
  = f.text_field :line_1, :size => 30
.grid_3
  = f.label :city
  = f.text_field :city
.grid_2
  = f.collection_select :state_id, State.all, :id, :name, :prompt => 'Select State'
.grid_1.suffix_5
  = f.label :zip
  = f.text_field :zip, :size => 7
.grid_12
  = f.collection_select :address_type_id, AddressType.all, :id, :name, :prompt => "Select Type"
  = f.link_to_remove "Remove Address"
.clear