.control-group
  = f.label :line_1, "Address", class: 'control-label'
  .controls
    = f.text_field :line_1, class: 'text_field', placeholder: "Line 1"
.control-group  
  / = f.label :city, class: 'control-label'
  .controls
    = f.text_field :city, class: 'text_field', placeholder: "City"
    = f.collection_select :state_id, State.all, :id, :name, :prompt => 'Select State', class: 'select_field'
    / = f.label :zip
    = f.text_field :zip, class: 'text_field', placeholder: 'Zip'
.control-group
  .controls
    = f.collection_select :address_type_id, AddressType.all, :id, :name, :prompt => "Select Type", class: 'select_field'
  / = f.link_to_remove "Remove Address"
