= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :middle_name
    = f.text_field :middle_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :gender_id
    = collection_select(:user, :gender_id, Gender.all, :id, :name, :prompt => true)
  .field
    = f.label :birthdate
    = f.text_field :birthdate
  .field
    = f.fields_for :phones do |builder|
      = render 'phone_fields', :f => builder
      %br
  .field  
    = f.label :username
    = f.text_field :username
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .actions
    = f.submit 'Sign up'
