= form_for @user do |f|
  .grid_12
    -if @user.errors.any?
      #error_explanation
        %h3= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

  .grid_2
    = f.label :first_name
  .grid_10
    = f.text_field :first_name
  .grid_2
    = f.label :middle_name
  .grid_10
    = f.text_field :middle_name
  .grid_2
    = f.label :last_name
  .grid_10
    = f.text_field :last_name
  .grid_2
    = f.label :gender_id
  .grid_10
    = collection_select(:user, :gender_id, Gender.all, :id, :name, :prompt => true)
  .grid_2
    = f.label :birthdate
  .grid_10
    = f.text_field :birthdate
  = f.fields_for :phones do |builder|
    = render 'phone_fields', :f => builder
  .grid_12
    Addresses:     
  = f.fields_for :addresses do |address|
    = render 'address_fields', :a => address
  .grid_2 
    = f.label :username
  .grid_10
    = f.text_field :username
  .grid_2
    = f.label :password
  .grid_10
    = f.password_field :password
  .grid_2
    = f.label :password_confirmation
  .grid_10
    = f.password_field :password_confirmation
  .grid_12.show
    .actions
      = f.submit 'Save'
