%fieldset
  .control-group
    = f.label :first_name, t("activerecord.attributes.user.first_name", :default => "First name"), :class => :label
    .input
      = f.text_field :first_name, :class => 'text_field'
  .clearfix
    = f.label :middle_name, t("activerecord.attributes.user.middle_name", :default => "Middle name"), :class => :label
    .input
      = f.text_field :middle_name, :class => 'text_field'
  .clearfix
    = f.label :last_name, t("activerecord.attributes.user.last_name", :default => "Last name"), :class => :label
    .input
      = f.text_field :last_name, :class => 'text_field'
  .clearfix
    = f.label :gender_id, t("activerecord.attributes.user.gender_id", :default => "Gender"), :class => :label
    .input
      = f.number_field :gender_id, :class => 'number_field'
  .clearfix
    = f.label :birthdate, t("activerecord.attributes.user.birthdate", :default => "Birthdate"), :class => :label
    .input
      = f.date_select :birthdate, :class => 'date_select'
  .clearfix
    = f.label :username, t("activerecord.attributes.user.username", :default => "Username"), :class => :label
    .input
      = f.text_field :username, :class => 'text_field'
  .clearfix
    = f.label :password_digest, t("activerecord.attributes.user.password_digest", :default => "Password digest"), :class => :label
    .input
      = f.text_field :password_digest, :class => 'text_field'

  .form-actions
    %button{:class => "btn primary", :type => "submit"} Save
    or
    = link_to "Cancel", users_path
