= nested_form_for @user do |f|
  .grid_12
    -if @user.errors.any?
      #error_explanation
        %h3= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

  .grid_12.bold
    Personal Info:
  .grid_2
    = f.label :first_name
    = f.text_field :first_name, :size => 15
  .grid_1
    = f.label :middle_name, 'MI'
    = f.text_field :middle_name, :size => 1
  .grid_2.suffix_7
    = f.label :last_name
    = f.text_field :last_name, :size => 15
  .grid_12
    = collection_select(:user, :gender_id, Gender.all, :id, :name, :prompt => "Select Gender", :size => 10)
  .grid_12
    = f.label :birthdate
    = f.text_field :birthdate, :size => 10
    Format: yyyy-mm-dd
  .clear
  %br
  .grid_12.bold
    Phone Numbers:
  = f.fields_for :phones
  .grid_12
    = f.link_to_add "Add Phone Number", :phones
  .clear
  %br
  .grid_12.bold
    Addresses:
  = f.fields_for :addresses
  .grid_12
    = f.link_to_add "Add Address", :addresses
  .clear
  %br
  .grid_12.bold
    Email Addresses:
  = f.fields_for :emails
  .grid_12
    = f.link_to_add "Add Email Address", :emails
  .clear
  %br
  .grid_12.bold
    User Info:
  .grid_12
    = f.label :username
    = f.text_field :username, :size => 20
  .grid_12
    = f.label :password
    = f.password_field :password, :size => 20
  .grid_12
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :size => 20
  .clear
  .actions
    .grid_12.show
      = f.submit 'Save'
