.grid_12
  %h1 All users

.grid_12
  = form_for @search do |f|
    = f.label :first_name_contains, "First Name"
    = f.text_field :first_name_contains
    = f.label :last_name_contains, "Last Name"
    = f.text_field :last_name_contains, :include_blank => true
    = f.submit
  
.all_users
  %table
    %tr
      %th= sort_link @search, :username
      %th= sort_link @search, :first_name, "Name" 
      %th= sort_link @search, :gender_id, "Gender"
      %th
      %th
      %th

    - @users.each do |user|
      %tr{:class => cycle('rowA', 'rowB')}
        %td= user.username
        %td= user.full_name
        %td= user.gender.name
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
