.grid_2.show
  %b Name:
.grid_10.show  
  = @user.full_name
.grid_2.show
  %b Username:
.grid_10.show
  = @user.username
.grid_2.show
  %b Gender:
.grid_10.show
  = @user.gender.name
.grid_2.show
  %b Birthdate:
.grid_10.show
  = @user.birthdate.strftime("%B %d")
- unless @user.phones.blank?
  .grid_2.show
    %b Phone Numbers:
.grid_10.show
  - @user.phones.each do |phone| 
    = "#{phone.phone_type.name}: #{number_to_phone(phone.number, :area_code => true, :delimiter => '-')}"
    %br
- unless @user.addresses.blank?
  .grid_2.show
    %b Addresses:
.grid_10.show
  - @user.addresses.each do |address|
    %b
      = address.address_type.name + ":"
    %br
    = address.line_1
    %br
    = "#{address.city}, #{address.state.name} #{address.zip}"
    .clear
    %br
- unless @user.emails.blank?
  .grid_2.show
    %b Email Addresses:
.grid_10.show
  - @user.emails.each do |email| 
    = "#{email.email_type.name}: #{email.address}"
    .clear
    %br
.grid_12.show
  - if current_user == @user
    = link_to 'Edit', edit_user_path(@user)
    \|
  = link_to 'Back', users_path
  \|
  = link_to 'Users', users_path
