%label{:class => "label"}= t("activerecord.attributes.user.first_name", :default => t("activerecord.labels.first_name", :default => "First name")) + ":"
%p= @user.first_name
%label{:class => "label"}= t("activerecord.attributes.user.middle_name", :default => t("activerecord.labels.middle_name", :default => "Middle name")) + ":"
%p= @user.middle_name
%label{:class => "label"}= t("activerecord.attributes.user.last_name", :default => t("activerecord.labels.last_name", :default => "Last name")) + ":"
%p= @user.last_name
%label{:class => "label"}= t("activerecord.attributes.user.gender_id", :default => t("activerecord.labels.gender_id", :default => "Gender")) + ":"
%p= @user.gender_id
%label{:class => "label"}= t("activerecord.attributes.user.birthdate", :default => t("activerecord.labels.birthdate", :default => "Birthdate")) + ":"
%p= @user.birthdate
%label{:class => "label"}= t("activerecord.attributes.user.username", :default => t("activerecord.labels.username", :default => "Username")) + ":"
%p= @user.username
%label{:class => "label"}= t("activerecord.attributes.user.password_digest", :default => t("activerecord.labels.password_digest", :default => "Password digest")) + ":"
%p= @user.password_digest

.form-actions
  = link_to "Back", users_path, :class => 'btn'
  = link_to "Edit", edit_user_path(@user), :class => 'btn'
  = link_to "Delete", user_path(@user), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn'
