%p
  %b Name:
  = @user.full_name
%p
  %b Username:
  = @user.username
%p
  %b Gender:
  = @user.gender.name
%p
  %b Birthdate:
  = @user.birthdate
%p
  %b Phones:
  - @user.phones.each do |phone|
    = number_to_phone(phone.number, :area_code => true, :delimiter => ' ')
    = phone.phone_type
   
= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', :back
