- provide(:title, 'Addresses')
.grid_12
  %h1 Addresses

.grid_12
  = form_for @search do |f|
    = f.label :first_name_contains, "First Name"
    = f.text_field :first_name_contains
    = f.label :last_name_contains, "Last Name"
    = f.text_field :last_name_contains, :include_blank => true
    = f.submit
    
.clear
%br

- @users.each do |user|
  .grid_3.suffix_9  
    %b
      = user.full_name
    .grid_12
      %br
      - if user.addresses.blank?
        No addresses on file
      - else
        - user.addresses.each do |address|
          = address.address_type.name
          %br
          = address.line_1
          %br
          = "#{address.city}, #{address.state.name} #{address.zip}"
          .clear
          %br
    %hr