- provide(:title, 'Phones')
.grid_4
  %h1 Home Phone Numbers
.grid_4
  %h1 Work Phone Numbers
.grid_4
  %h1 Cell Phone Numbers

.grid_4
  %table
    %tr
      %th Name
      %th Home #
    - @home_phones.each do |phone|
      %tr{:class => cycle('rowA', 'rowB')}
        %td= link_to phone.user.full_name, phone.user
        %td= number_to_phone(phone.number,
                            area_code: true,
                            delimiter: '-')
  %br
.grid_4
  %table
    %tr
      %th Name 
      %th Work #
    - @work_phones.each do |phone|
      %tr{:class => cycle('rowA', 'rowB')}
        %td= link_to phone.user.full_name, phone.user
        %td= number_to_phone(phone.number,
                            area_code: true,
                            delimiter: '-')

.grid_4
  %table
    %tr
      %th Name 
      %th Cell #
    - @cell_phones.each do |phone|
      %tr{:class => cycle('rowA', 'rowB')}
        %td= link_to phone.user.full_name, phone.user
        %td= number_to_phone(phone.number,
                            area_code: true,
                            delimiter: '-')