= form_tag sessions_path do
  .row
    .span4
      = label_tag :username
      = text_field_tag :username, params[:username]
  .row
    .span4
      = label_tag :password
      = password_field_tag :password
  .row
    .span4  
      .form-actions
        %button{ class: "btn btn-success", :type => "submit"} Log in
        / <i class="icon-ok icon-white"></i> 
          
        = link_to root_path, class: 'btn btn-danger' do
          / %i.icon-remove.icon-white
          Cancel